.scroll {
  height: 100%;
}

.body {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}


/* Mobile */
@media (max-width: 768px) {
  .body {
    width: 100%;
    padding-left: var(--mantine-spacing-sm);
    padding-right: var(--mantine-spacing-sm);
  }
}
