/* Container */
.objects {
    flex-direction: column;
    display: flex;
}

/* Container body */
.objects-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-secondary);
    width: 100%;
    padding-bottom: var(--space-padding-primary);
}
