/* Import Reset Styles */
@import "./reset.css";
/* Import Variable Styles */
@import "./variables.css";
/* Import Main Styles */
@import "./main.css";

/* Base Style Components */
.non-border {
    border: 0px!important;
}

.non-background {
    background: none!important;
}

.non-display {
    display: none!important;
}

.non-padding {
    padding: 0px!important;
}

.box-component-pagination {
    background: var(--color-background-light-secondary);
    padding: var(--space-padding-primary);
    border-radius: var(--radius-primary);
    box-shadow: var(--shadows-primary);
    display: flex;
}

/* Default text color */
p, q, h1, h2, h3, h4, h5, h6, a, li, span, button, input, label, div {
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--font-size-text-primary);
    color: var(--color-light-text-primary);
}
a:active, a:visited {
    color: var(--color-light-text-primary);
}

/* Default link hover animation */
a {
    transition: color var(--time-transition-primary) ease!important;
}

a:hover {
    color: var(--color-page-primary)!important;
    transition-delay: var(--time-delay-primary)!important;
}

