/* Root Style */
body {
    background-color: var(--color-background-light-primary);
}

/* Main Page Style */
.main-page {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

/* Main Page Body Style */
.page-body {
    margin-top: calc(var(--space-header) + var(--space-primary));
    box-sizing: border-box;
    max-width: 1500px;
    width: 80vw;
}

/* Main Page Footer Style */
.page-footer {
    margin-top: calc(var(--space-header) + var(--space-primary));
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
}


/* Main Page Mobile Style */
@media only screen and (max-width: 769px) {
    .page-body {
        width: 100vw;
        padding: 0px var(--space-secondary);
    }

    .page-header {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}
