/* CSS Variables */
:root {
    /* CSS Variables - Primary colors */
    --color-page-primary: #e1c71f;
    --color-page-secondary: #096dd9;
    --color-background-dark-primary: #246544;
    --color-background-dark-secondary: #bb3517;
    --color-background-light-primary: #f8f7fa;
    --color-background-light-secondary: #ffffff;
    --color-background-hover: #246544;
    --color-border-primary: #e5e3e3;

    /* CSS Variables - Text colors */
    --color-light-text-heading: #000000E0;
    --color-light-text-primary: #000000cb;
    --color-light-text-secondary: #000000A6;
    --color-light-text-disabled: #00000040;
    --color-dark-text-heading: #f4f4f4e1;
    --color-dark-text-primary: #FFFFFFD9;
    --color-dark-text-secondary: #FFFFFFA6;
    --color-dark-text-disabled: #FFFFFF40;

    /* CSS Variables - Font size */
    --font-size-heading-primary: 18px;
    --font-size-heading-secondary: 16px;
    --font-size-heading-tertiary: 14px;
    --font-size-text-primary: 14px;
    --font-size-text-secondary: 12px;
    --font-size-text-tertiary: 10px;

    /* CSS Variables - Secondary colors lights */
    --color-light-red: #ffccc7;
    --color-light-orange: #ffe7ba;
    --color-light-yellow: #ffffb8;
    --color-light-green: #d9f7be;
    --color-light-blue: #bae0ff;
    --color-light-purple: #efdbff;

    --color-light-volcano: #ffd8bf;
    --color-light-gold: #fff1b8;
    --color-light-lime: #f4ffb8;
    --color-light-cyan: #b5f5ec;
    --color-light-geek: #d6e4ff;
    --color-light-magenta: #ffd6e7;

    /* CSS Variables - Secondary colors strong */
    --color-strong-red: #ff4d4f;
    --color-strong-orange: #ffa940;
    --color-strong-yellow: #ffec3d;
    --color-strong-green: #73d13d;
    --color-strong-blue: #4096ff;
    --color-strong-purple: #9254de;

    --color-strong-volcano: #ff7a45;
    --color-strong-gold: #ffc53d;
    --color-strong-lime: #bae637;
    --color-strong-cyan: #36cfc9;
    --color-strong-geek: #597ef7;
    --color-strong-magenta: #f759ab;

    /* CSS Variables - Secondary colors dark */
    --color-dark-red: #a8071a;
    --color-dark-orange: #ad4e00;
    --color-dark-yellow: #ad8b00;
    --color-dark-green: #237804;
    --color-dark-blue: #003eb3;
    --color-dark-purple: #391085;

    --color-dark-volcano: #ad2102;
    --color-dark-gold: #ad6800;
    --color-dark-lime: #5b8c00;
    --color-dark-cyan: #006d75;
    --color-dark-geek: #10239e;
    --color-dark-magenta: #9e1068;
    
    /* CSS Variables - Sizes */
    --space-primary: 20px;
    --space-secondary: 15px;
    --space-header: 70px;
    --space-padding-primary: 10px;
    --space-padding-secondary: 6px;
    
    /* CSS Variables - Shadows */
    --shadows-primary: 0 2px 5px rgba(0, 0, 0, 0.2);
    --shadows-secondary: 0 2px 12px rgba(0, 0, 0, 0.5);
    
    /* CSS Variables - Others */
    --radius-primary: 10px;

    /* CSS Variables - Time */
    --time-transition-primary: 0.3s;
    --time-delay-primary: 0.1s;

    /* CSS Variables - Border */
    --border-primary: 1px solid #e5e7eb;
}

/* CSS Fonts */
@font-face {
    font-family: 'FunnelSans';
    src: url('../assets/fonts/FunnelSans.ttf') format('truetype');
}

@font-face {
    font-family: 'RKKRFontNewBig';
    src: url('../assets/fonts/RKKRFontNewBig.ttf') format('truetype');
}

@font-face {
    font-family: 'RKKRFontNewSmall';
    src: url('../assets/fonts/RKKRFontNewSmall.ttf') format('truetype');
}
