.footer-menu {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.footer-menu-item {
    padding: var(--space-padding-primary);
}

.footer-submenu {
    padding: var(--space-padding-primary);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.footer-submenu-item {
    padding: var(--space-padding-primary);
    border-top: var(--border-primary);
    text-align: center;
    width: 50%;
}
