.not-found-page {
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.not-found-icon {
    width: 80px;
    height: 80px;
    color: var(--color-dark-red);
}

.not-found-title {
    font-size: 30px;
    padding: 10px 30px 30px 30px;
}

.not-found-description {
    font-size: var(--font-size-heading-secondary);
}

.not-found-link {
    font-size: var(--font-size-heading-secondary);
    padding: 10px;
}
