.wrapper {
  width: 100%;
  align-items: flex-start;
}

/* Left Page Content */
.leftContent {
  position: sticky;
  top: var(--app-header-height);
  height: calc(100vh - 100px);
  background: var(--mantine-color-body);
}

/* Right Page Content */
.rightContentScrollArea {
  flex: 1;
  min-width: 0;
  height: calc(100vh - 100px);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .leftContent {
    position: static;
    width: 100%;
    height: auto;
  }

  .rightContentScrollArea {
    height: auto;
    min-width: unset;
  }
}
