.user-menu-container {
    position: relative;
}

.user-menu-logo {
    align-items: center;
    background: none;
    cursor: pointer;
    display: flex;
    border: none;
}

.user-menu-logo svg {
    color: var(--color-dark-text-heading);
    width: 30px;
    height: 30px;
}

.user-menu-dropdown {
    border-radius: 0px 0px var(--radius-primary) var(--radius-primary);
    background: var(--color-background-light-secondary);
    box-shadow: var(--shadows-primary);
    border: var(--border-primary);
    flex-direction: column;
    position: absolute;
    min-width: 180px;
    z-index: 1000;
    display: flex;
    top: 51px;
    right: 0;
}

.user-menu-userinfo {
    padding: calc(var(--space-padding-primary) * 1.5);
    border-bottom: var(--border-primary);
    flex-direction: column;
    display: flex;
}

.user-menu-username {
    font-size: var(--font-size-heading-secondary);
    margin-bottom: var(--space-padding-secondary);
    color: var(--color-background-dark-primary);
    text-align: center;
    font-weight: 900;
}

.user-menu-email {
    text-align: center;
}

.user-menu-button {
    padding: var(--space-padding-primary) calc(var(--space-padding-primary) * 2);
    background: var(--color-background-light-secondary);
    font-size: var(--font-size-text-primary);
    cursor: pointer;
    display: flex;
    border: none;
}

.user-menu-button:last-child {
    border-radius: 0px 0px var(--radius-primary) var(--radius-primary);
}

.user-menu-button:hover {
    background-color: var(--color-background-hover);
}
