/* Main retrieve section */
.object-retrieve {
    gap: var(--space-padding-primary);
    flex-direction: column;
    display: flex;
}

.object-retrieve-card {
    background: var(--color-background-light-secondary);
    padding: var(--space-padding-primary);
}

.object-retrieve-container {
    gap: var(--space-padding-secondary);
    flex-direction: row;
    display: flex;
}

.object-retrieve-left {
    gap: var(--space-padding-secondary);
    flex-direction: column;
    display: flex;
    width: 60%;
}

/* Retrieve gallery */
.object-retrieve-gallery {
    gap: var(--space-padding-secondary);
    flex-direction: row;
    display: flex;
}

/* Retrieve chapters */
.object-retrieve-chapters {
    gap: var(--space-padding-primary);
    flex-direction: column;
    display: flex;
}

.object-retrieve-tab {
    padding: var(--space-padding-secondary) var(--space-padding-primary);
    background: var(--color-background-light-primary);
    box-shadow: var(--shadows-primary);
    border: var(--border-primary);
    cursor: pointer;
}

/* Retrieve chapters - content */
.object-retrieve-content {
    gap: var(--space-padding-secondary);
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.object-retrieve-content span {
    padding: var(--space-padding-secondary);
    border-bottom: var(--border-primary);
    width: 100%;
}

.object-retrieve-content span:first-child {
    font-weight: bold;
}

/* Retrieve right column */
.object-retrieve-right {
    gap: var(--space-padding-secondary);
    flex-direction: column;
    display: flex;
    width: 40%;
}

.object-retrieve-properties {
    gap: var(--space-padding-secondary);
    grid-template-columns: 1fr;
    display: grid;
}

.object-retrieve-properties span {
    padding: var(--space-padding-secondary);
    border-bottom: var(--border-primary);
    width: 100%;
}

.object-retrieve-properties span:first-child {
    font-weight: bold;
}

/* Retrieve button */
.object-retrieve-button {
    padding: var(--space-padding-secondary) var(--space-padding-primary);
    background: var(--color-background-light-primary);
    box-shadow: var(--shadows-primary);
    border: var(--border-primary);
    cursor: pointer;
}
