.objects-card {
    background: var(--color-background-light-secondary);
    flex-direction: row;
    overflow: hidden;
    display: flex;
    height: 150px;
}

.objects-card:hover {
    box-shadow: var(--shadows-secondary);
    transition: box-shadow var(--time-transition-primary) ease;
}

.objects-card span {
    font-size: var(--font-size-text-secondary);
}

.objects-card-image {
    flex: 0 0 180px;
    height: 100%;
}

.objects-card-image > img {
    border-radius: var(--radius-primary) 0px 0px var(--radius-primary);
    height: 100%;
    width: 100%;
}

.objects-card-content {
    padding: var(--space-padding-primary);
    flex-direction: column;
    display: flex;
    flex: 1;
}

.objects-card-element:not(:last-child) {
    margin-bottom: var(--space-secondary);
}

.objects-card-title > h3 {
    font-size: var(--font-size-heading-secondary);
}

.objects-card-properties {
    flex-direction: row;
    display: flex;
}

.objects-card-property {
    background-color: #d8d8d8;
    padding: var(--space-padding-secondary);
    border-radius: var(--radius-primary);
    justify-content: center;
    align-items: center;
}

.objects-card-property span {
    align-items: center;
    display: flex;
    gap: var(--space-padding-secondary);
}

.objects-card-property svg {
    width: 12px;
    height: 12px;
}

.objects-card-property:not(:last-child) {
    margin-right: var(--space-padding-secondary);
}

.objects-card-description > p {
    font-size: var(--font-size-text-secondary);
}

/* Extra */
.objects-card-extra {
    margin-top: auto;
}

.objects-card-extra-item:not(:last-child) {
    margin-right: var(--space-padding-secondary);
}

.objects-card-extra-item span {
    align-items: center;
    display: flex;
}

.objects-card-extra-item svg {
    width: 12px;
    height: 12px;
}
