.image-loader-container {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.image-loader-container img {
  width: 100%;
  height: 100%;
}

.image-loader-overlay {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  inset: 0;
}

.image-loader-img {
  transition: opacity 0.25s ease;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-loader-img.hidden {
  opacity: 0;
}

.image-loader-img.visible {
  opacity: 1;
}
