.image-loader-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  overflow: hidden;
}

.image-loader-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-loader-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.25s ease;
}

.image-loader-img.hidden {
  opacity: 0;
}

.image-loader-img.visible {
  opacity: 1;
}
