.pagination {
    display: flex;
    gap: var(--space-padding-secondary);
}

.pagination-item {
    background: var(--color-background-light-secondary);
    padding: var(--space-padding-secondary) calc(var(--space-padding-primary) * 2);
    cursor: pointer;
}

.pagination-active {
    background-color: var(--color-background-dark-secondary);
    color: var(--color-dark-text-primary);
}

.pagination-disabled {
    color: var(--color-light-text-disabled);
    cursor: auto;
}
